[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DramaAnalysis"]
	path = DramaAnalysis
	url = https://github.com/quadrama/dramaanalysis
